* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------header start-------- */
header {
    background-image: url('images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    position: relative;
    color: white;
}

.header-description {
    width: 20%;
    position: absolute;
    right: 80px;
    top: 140px;
    text-align: end;
}

.header-description p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.header-description button {
    padding: 5px 10px;
    border: 0;
    color: rgba(0, 95, 172, 1);
}

/* -------header end-------- */

/* <!-- -----failure section start------ --> */
.failure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 60px auto;
}

.failure-image {
    width: 50%;
    height: 600px;
    margin-left: 80px;
}

.failure-image img {
    width: 80%;
    height: 90%;
    margin: 0 auto;
}

.failure-description {
    width: 50%;
}

.failure-description h2 {
    width: 70%;
    color: black;
}

.failure-description p {
    /* font-size: 14px; */
    width: 100%;
    margin: 10px 0;
    color: rgba(68, 67, 67, 1);
}

/* !-- -----failure section end------ --> */

/* --------plan start---------- */
.plan {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.plan h2 {
    margin: 30px 0;
}

.plan-parts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.part {
    margin: 0 auto;
}

.part p {
    color: rgba(68, 67, 67, 1);
    margin: 5px 0;
}

/* part end */
/* positive mindset start */
.positive {
    background-image: linear-gradient(to right, rgba(0, 95, 172, 1), rgba(0, 95, 172, 0)), url('images/watch.png');
    background-size: cover;
    width: 70%;
    margin: 90px auto;
    padding: 40px;
    height: 200px;
}

.positive h2 {
    width: 30%;
    margin: 10px 0;
    color: white;
}

.positive button {
    padding: 5px 10px;
    color: rgba(0, 95, 172, 1);
    border: 0;
}

/* positive mindset end */