* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    position: relative;
    color: white;
}

.header-description {
    width: 20%;
    position: absolute;
    right: 80px;
    top: 140px;
    text-align: end;
}

.header-description p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.header-description button {
    padding: 5px 10px;
    color: rgba(0, 95, 172, 1);
}

.failure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 40px auto;
}

.failure-image {
    width: 100%;
    height: 600px;
}

.failure-image img {
    width: 90%;
    height: 90%;
}

.failure-description {
    width: 50%;
}

.failure-description h2 {
    width: 80%;
    color: black;
}

.failure-description p {
    font-size: 14px;
    width: 100%;
    margin: 10px 0;
    color: rgba(68, 67, 67, 1);
}