* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* -------header start-------- */
header {
    background-image: url('images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    position: relative;
    color: white;
}

.header-description {
    width: 30%;

    position: absolute;
    right: 150px;
    top: 140px;
    text-align: end;
}

.header-description h1 {
    font-size: 45px;
    font-weight: 700;
}

.header-description p {
    margin-top: 15px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 1);
}

.header-description button {
    padding: 10px 20px;
    border: 0;
    color: rgba(0, 95, 172, 1);
    font-weight: 700;
    border-radius: 5px;
}

/* -------header end-------- */

/* <!-- -----failure section start------ --> */
.failure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 60px auto;
}

.failure-image {
    width: 50%;
    height: 600px;
    margin-left: 80px;
}

.failure-image img {
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.failure-description {
    width: 50%;
}

.failure-description h2 {
    width: 60%;
    color: black;
    font-weight: 700;
    font-size: 35px;
}

.failure-description p {
    font-size: 14px;
    width: 100%;
    margin: 10px 0;
    color: rgba(68, 67, 67, 1);
}

/* !-- -----failure section end------ --> */

/* --------plan start---------- */
.plan {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.plan h2 {
    margin: 30px 0;
    font-size: 35px;
}

.plan-parts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.part {
    margin: 0 auto;
}

.part p {
    color: rgba(68, 67, 67, 1);
    margin: 5px 0;
}

/* part end */
/* positive mindset start */
.positive {
    background-image: linear-gradient(to right, rgba(0, 95, 172, 1), rgba(0, 95, 172, 0)), url('images/watch.png');
    background-size: cover;
    width: 70%;
    margin: 90px auto;
    padding: 40px;
    height: 200px;
}

.positive h2 {
    width: 30%;
    margin: 10px 0;
    color: white;
}

.positive button {
    padding: 10px 20px;
    border: 0;
    color: rgba(0, 95, 172, 1);
    font-weight: 700;
    border-radius: 5px;
}

/* positive mindset end */

/* ----footer start------ */
footer {
    background-color: black;
    width: 100%;
    padding: 40px 0;
}

.footer-sections {
    display: flex;
    width: 70%;
    color: white;
    margin: 0 auto;
    position: relative;
}

.future {
    width: 40%;
}

.future-description h2 {
    font-size: 35px;
    margin-bottom: 10px;
}

.future-description p {
    color: rgba(255, 255, 255, 0.697);
    margin-bottom: 10px;
}

.future-img img {
    width: 40px;
}

.subscribe {
    width: 40%;
    position: absolute;
    right: -50px;
}

.subscribe input {
    width: 60%;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 15px 0;
    background-color: black;
    border-color: white;
}

.subscribe input::placeholder {
    color: rgba(243, 243, 243, 1);
}

.subscribe button {
    padding: 10px 20px;
    border: 0;
    background-color: rgba(0, 95, 172, 1);
    color: white;
    font-weight: 700;
    border-radius: 5px;
}